# Rproject
.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_store

# Raw data
data-raw/*
!data-raw/README.md
!data-raw/*.R

# misc and  LaTeX
out/
*.tmp
*.swp
*.bak
*.log
*.aux
*.lof
*.fls
*.out
*.toc
*.fmt
*.fot
.*.lb
*.bbl
*.blg
*.axp
*.tex
paper/*.pdf
!paper/header.tex
*.png
