# Rproject
.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_store

# Raw data
data-raw/*
!data-raw/README.md
!data-raw/*.R

R/*
!R/*.R
!R/*.stan

src/*
!src/*.cpp
!src/*.h

submission/replication
submission/*.pdf

# misc and  LaTeX
out/
*.tmp
*.swp
*.bak
*.log
*.aux
*.lof
*.fls
*.out
*.toc
*.fmt
*.fot
.*.lb
*.bbl
*.blg
*.axp
*.tex
paper/*.pdf
*.png

# needed tex files
!paper/header.tex
!paper/figures/corr_table.tex
